body{
    background-color: thistle
}
div{padding: 5%;
    font-size: 20px;
}
button{
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    font-style: oblique;
    background-color:#FFF;
}
#erreur{
    margin: 5px auto;
    width:50%;
    padding: 10px;
    font-size: 30px;
    font-family: Verdana,sans-serif;
    background-color:#FFF;
    color: rgb(167, 6, 6);
}
#excuse {
    border: 5px dashed #000;
    margin: 5px auto;
    width:50%;
    padding: 10px;
    font-size: 20px;
    font-family: Verdana,sans-serif;
    background-color:#FFF;
}
